[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
boto3 = "*"
django-environ = "*"

python-magic-bin = { version = "0.4.14", markers = "sys_platform == 'win32'" }
python-magic = { version = "0.4.27", markers = "sys_platform != 'win32'" }

[dev-packages]

[requires]
python_version = "3.13"
