[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
boto3 = "*"
django-environ = "*"
python-magic-bin = "*"

[dev-packages]

[requires]
python_version = "3.14"
